<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
	/>
	<link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container center-align">
      <br />
      <a class="waves-effect waves-light btn-large pink darken-1" href="/"
        ><i class="material-icons left">home</i>Home</a
      >
      <a
        class="waves-effect waves-light btn-large purple darken-3"
        href="/users/add"
        ><i class="material-icons left">account_box</i>Add New User</a
      >
      <a class="waves-effect waves-light btn-large teal darken-3" href="/users"
        ><i class="material-icons left">list</i>All Users List</a
      >
    </div>
    <div class="container">
      <h4 class="center-align grey-text"><%= title %></h4>

